
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper-product">
    <div class="routing">
        <a>HOME / PRODUCTS</a>
    </div>
    <div class="routing-title">
        PRODUCTS
    </div>
    <div class="row" style="margin: auto">
        <div class="col-md-3 no-padding sidebar">
            <div class="sidebar">
                <p class="filter-title" style="border-bottom: 1px dotted black;">REFINE BY</p>
                <p class="filter-explanation"> No filters applied</p>
            </div>
            <div class="price">

            </div>
        </div>
        <div class="col-md-9 sidebar no-padding"></div>
    </div>
</div>